body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
}

.block {
    background-color: #ffeee4;
    border-radius: 4px;
    padding: 4px;
    width: 320px;
}

.block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.block__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    letter-spacing: 1px;
}

.block__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github {
    color: black;
    text-decoration: none;
}

.github:hover {
    color: #ff6f23;
}

.reportage {
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
}

.icon {
    background-size: cover;
    width: 18px;
    height: 18px;
}

.icon_disabled {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.icon_disabled:hover {
    filter: grayscale(0%);
}

.icon__dota {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--dota2' fill='none' fill-rule='nonzero'%3E%3Crect fill='%23A51C0F' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M20.21 4l1.685 1.669-.72 3.887-4.543-4.173L20.21 4zM6.345 24L4 21.126l1.644-4.904 4.672 5.77L6.346 24zm16.135-1.378l-3.3.267L4 5.136 5.26 4h1.02L24 17.52l-1.52 5.102z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__cs-go {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill-rule='nonzero'%3E%3Cg%3E%3Crect id='Rectangle' fill='%23E9A21A' x='0' y='0' width='28' height='28' rx='4'%3E%3C/rect%3E%3Cpath d='M4,0 L14,0 L14,17 L17.7583008,28 L4,28 C1.790861,28 2.04689834e-15,26.209139 1.77635684e-15,24 L0,4 C-2.705415e-16,1.790861 1.790861,4.05812251e-16 4,0 Z' id='Rectangle-4' fill='%23313E77'%3E%3C/path%3E%3Cpath d='M27,4.20109976 L24.252704,4.20109976 L24.252704,3.87117046 L24.0363815,3.87117046 L24.0363815,2.99135899 L23.7118977,2.99135899 L23.7118977,3.9811469 L23.387414,3.9811469 L23.387414,3.76119403 L17.4385447,3.76119403 L17.4385447,3.54124116 L16.7895772,3.54124116 L15.4700098,3.87117046 L15.3618486,3.21131186 L16.1406096,2.77140613 L16.1406096,1.6496465 L16.0324484,1.42969364 L15.9242871,1.20974077 L15.9242871,0.879811469 C15.6214356,0.439905734 14.539823,0 13.9557522,0 C13.3500492,0 12.8092429,0.0659858602 12.2035398,0.989787903 C11.5978368,1.91358995 11.9872173,2.99135899 11.9872173,2.99135899 L11.9872173,3.54124116 C11.705998,3.29929301 11.100295,3.21131186 11.100295,3.21131186 C9.49950836,3.21131186 8.78564405,5.69677926 8.78564405,6.53260016 C8.78564405,7.36842105 8.89380531,7.98428908 8.89380531,7.98428908 L8.00688299,7.98428908 C7.72566372,7.98428908 7.68239921,8.57816182 7.68239921,9.19402985 C7.66076696,9.80989788 7.48770895,10.7776905 7.57423795,10.9756481 C7.63913471,11.1516104 8.35299902,11.1956009 8.35299902,11.1956009 C8.35299902,11.1956009 8.15830875,11.2835821 7.92035398,11.6355067 C7.66076696,12.0094266 7.92035398,12.9772192 7.92035398,12.9772192 L7.92035398,14.5388845 L7.76892822,14.6268657 L7.5526057,14.8468185 L7.5526057,15.1767478 L7.66076696,15.3967007 L7.5526057,15.72663 L7.5526057,16.1665357 L7.76892822,16.496465 C7.76892822,16.496465 7.68239921,17.0683425 7.5526057,17.7062058 C7.42281219,18.3660644 7.44444444,20.0377062 7.44444444,20.0377062 C7.14159292,20.0597015 7.11996067,20.4776119 7.11996067,20.4776119 C7.11996067,20.4776119 7.05506391,20.5655931 6.68731563,21.1374705 C6.2979351,21.709348 6.18977384,22.2812255 6.14650934,22.6991359 C6.08161259,23.1170463 5.80039331,23.4249804 5.49754179,23.9088767 C5.17305801,24.392773 5.71386431,25.008641 5.71386431,25.008641 C5.15142576,26.3943441 5.02163225,27.384132 5,27.9780047 L7.09832842,27.9780047 C7.03343166,27.7800471 6.9252704,27.3401414 6.9252704,26.8782404 C6.9252704,26.2623723 7.4660767,25.2065986 7.4660767,25.2065986 L7.89872173,25.0966222 L8.00688299,24.6567164 C8.093412,24.2827965 8.48279253,23.4909662 8.78564405,22.8750982 C9.06686332,22.2592302 8.78564405,21.8853103 8.78564405,21.8853103 L9.00196657,21.3354281 L9.32645034,21.0054988 L9.75909538,20.4556167 L10.0835792,20.0157109 L10.1917404,19.4658288 C10.1917404,19.4658288 10.4296952,18.7399843 10.5162242,18.256088 C10.6027532,17.7501964 11.2949853,17.0463472 11.2949853,17.0463472 L11.4031465,16.496465 L11.9439528,17.3762765 L12.5929204,17.4862529 L14.020649,19.8177533 L14.79941,19.8177533 L15.0157325,20.0377062 L15.0157325,21.0274941 L14.6912488,21.4673998 L14.9075713,23.1390416 L15.0157325,24.3487824 L15.2320551,24.5687353 L15.4483776,26.2403771 L15.1238938,26.4603299 L15.0157325,28 L19.2989184,28 L19.2989184,27.9120189 L19.1907571,27.5820896 L18.7581121,27.3621367 L18.2173058,27.1421838 L17.114061,25.932443 L17.2222222,24.3707777 L17.4385447,23.930872 L17.4385447,23.1610369 L17.2222222,22.7211312 L17.4385447,21.6213668 L17.546706,19.5098193 L17.3303835,19.3998429 L17.3303835,18.7399843 L17.114061,18.7399843 C17.114061,18.7399843 16.6814159,17.4862529 16.4650934,16.8483896 C16.2271386,16.2105263 15.4267453,15.0667714 15.0373648,14.7368421 C14.6479843,14.4069128 14.626352,13.8350353 14.6047198,13.6370778 C14.5830875,13.4171249 14.8210423,13.197172 14.8210423,13.197172 C14.8210423,13.197172 14.9292035,13.2631579 15.1455261,13.3071485 C15.3618486,13.351139 15.3618486,13.197172 15.3618486,13.197172 L15.5781711,12.7572663 L15.7944936,12.427337 L15.9026549,11.4375491 L15.9026549,9.98586017 C15.8377581,9.435978 15.3618486,9.21602514 15.3618486,9.21602514 L15.4700098,8.7761194 L15.9026549,8.99607227 L16.4434612,9.21602514 L17.0924287,9.54595444 L17.8711898,9.76590731 L18.4119961,9.65593087 L18.9528024,9.32600157 L19.4936087,8.55616654 L19.7099312,7.56637863 L20.0344149,7.4564022 L20.1425762,7.23644933 L20.0344149,6.7965436 L20.0344149,5.8067557 L20.46706,5.47682639 L20.5752212,5.25687353 L20.899705,5.03692066 L23.4306785,5.03692066 L23.4306785,4.70699136 L26.9567355,4.70699136 L26.9567355,4.20109976 L27,4.20109976 Z M17.979351,6.75255302 L17.6548673,6.09269442 L18.5417896,6.20267086 L17.979351,6.75255302 Z M18.7581121,5.87274156 L18.1091445,5.87274156 L18.3254671,5.43283582 L18.7581121,5.43283582 L18.7581121,5.87274156 Z' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__pubg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--pubg' fill='none' fill-rule='nonzero'%3E%3Crect fill='%23252525' width='28' height='28' rx='4'/%3E%3Cpath fill='%23FEA600' d='M19 6v9h-5v9h-3v-9h-1v-2h1V4h8v2zm-3 0h-2v7h2V6z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__fortnite {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--fortnite' fill='none' fill-rule='nonzero'%3E%3Crect fill='%236CC0EC' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M11 23.656V4h8l-.491 4.265h-3.244v3.204h2.811v4.128h-2.81v7.174z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__apex {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--apex-legends' fill='none' fill-rule='evenodd'%3E%3Crect fill='%23C73132' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M14.0392 4L4 21.1654L6.7451 24L12.6275 19.9055H9.09804L14.0392 11.5591L18.7451 19.9055H15.1373L21.1765 24L24 21.1654L14.0392 4Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__artifact {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--artifact' fill='none' fill-rule='nonzero'%3E%3Crect fill='%23BF8D51' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M9.866 7H4l6.324 9.954 1.96-1.739L9.867 7zm1.36 0l.648 2.184 9.296 2.228L24 7H11.225zm-.19 11.38L13.96 23l6.562-10.459-2.577-.55-6.91 6.389zm5.85-6.893l-4.902-1.115 1.328 4.279 3.573-3.164z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__lol {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill-rule='nonzero'%3E%3Cg%3E%3Crect fill='%230C2B4C' x='0' y='0' width='28' height='28' rx='4'%3E%3C/rect%3E%3Cpath d='M21.0026846,14.2959402 C21.0026846,10.6276709 18.3861298,7.58760684 15,7.10149573 L15,5 C19.4957494,5.49358974 23,9.46848291 23,14.2959402 C23,16.8162393 21.7400447,19 21.7400447,19 L19.3418345,19 C20.3762864,17.7323718 21.0026846,16.0870726 21.0026846,14.2959402 Z M7,22 C5.14850136,20.2114189 4,17.7343132 4,15 C4,12.2656868 5.14850136,9.79253816 7,8 L7,11.8106275 C6.54223433,12.7840588 6.28065395,13.8643301 6.28065395,15 C6.28065395,16.1356699 6.54223433,17.2159412 7,18.1893725 L7,22 Z M7,24 L8.66323353,21.9830639 L8.66323353,6.02463433 L7,4 L13.0359281,4 L13.0359281,20.7397998 L23,20.7397998 L20.7734132,23.9961509 L7,24 Z' fill='%23F3AE25'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__overwatch {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill-rule='nonzero'%3E%3Cg%3E%3Crect fill='%2343484D' x='0' y='0' width='28' height='28' rx='4'%3E%3C/rect%3E%3Cpath d='M20.6063412,7.11811812 L18.6835017,9.19686353 C18.6835017,9.19686353 20.6063412,11.2756089 20.6063412,13.5275831 C20.6063412,15.4330998 19.7323232,16.9921588 19.7323232,16.9921588 L15.7118406,13.3543544 L13.9638047,9.71654988 L13.9638047,15.4330998 L17.7395623,19.1401958 C17.7395623,19.1401958 16.2886925,20.5606718 13.6141975,20.6299633 C10.9397026,20.5606718 9.48883277,19.1401958 9.48883277,19.1401958 L13.2645903,15.4330998 L13.2645903,9.71654988 L11.5165544,13.3543544 L7.49607183,16.9921588 C7.49607183,16.9921588 6.62205387,15.4330998 6.62205387,13.5275831 C6.62205387,11.2756089 8.54489338,9.19686353 8.54489338,9.19686353 L6.62205387,7.11811812 C4.34960718,9.5433211 4,12.1417529 4,13.5275831 C4,14.9134134 4.34960718,17.5118452 6.44725028,19.9370482 C8.54489338,22.3622511 11.1669473,23.2283951 13.6141975,23.2283951 C16.0614478,23.2283951 18.6835017,22.3622511 20.7811448,19.9370482 C22.8787879,17.5118452 23.2283951,14.9134134 23.2283951,13.5275831 C23.2283951,12.1417529 22.8787879,9.5433211 20.6063412,7.11811812 Z' fill='%23F3F3F3'%3E%3C/path%3E%3Cpath d='M19.2079125,5.75633893 C16.411055,4.00672821 14.2260101,3.97208245 13.6141975,4.00672821 C13.002385,3.97208245 10.8173401,4.00672821 8.0204826,5.75633893 L9.76851852,7.83508434 C9.76851852,7.83508434 11.4291526,6.84768027 13.6141975,6.79571164 C15.7992424,6.84768027 17.4598765,7.83508434 17.4598765,7.83508434 L19.2079125,5.75633893 Z' fill='%23F99E19'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__heartstone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--hearthstone' fill='none' fill-rule='nonzero'%3E%3Crect fill='%232E1D0F' width='28' height='28' rx='4'/%3E%3Cpath fill='%23FF9C00' d='M19.976 20.065l-.777-2.365c.29-.41.531-.855.72-1.328L24 13.935 19.869 11.5a6.416 6.416 0 0 0-.63-1.147l.682-2.685-2.602.854a6.408 6.408 0 0 0-.98-.495L13.935 4 11.57 8.011c-.385.153-.752.34-1.097.56l-2.95-.848.878 2.986a6.429 6.429 0 0 0-.441.892L4 13.935l3.91 2.335a6.4 6.4 0 0 0 .487 1.01l-.818 2.84 2.73-.802c.392.267.814.49 1.26.667L13.935 24l2.406-4.031a6.414 6.414 0 0 0 1.071-.555l2.564.651z'/%3E%3Ccircle fill='%232E1D0F' cx='14' cy='14' r='5'/%3E%3Cpath fill='%2339CCFF' d='M11.046 17.315c-.054-.074-.132-.339-.132-.339l-.148-.31s-.132-.22.148-.176c.28.044 1.296.442 1.856.457.56.014.854-.28.957-.31.103-.03.707-.265.884-.294.177-.03 1.267-.697 1.429-2.3.162-1.604-1.282-2.546-2.107-2.561 0 0-.515-.015-.633.059s-.884.427-1.222.471c0 0-.28.266-.236.59.044.324.044 1.439 1.222 1.441 0 0 .282-.152.252-1.253 0 0 1.466-.122 1.504 1.253.039 1.375-1.314 1.566-2.152 1.528-.838-.038-2.61-1.2-2.476-3.048l.103-.658.295-.339s.677-1.37 2.224-1.782c0 0 .132-.221.295-.221.162 0 .294.177.53.206.235.03.324-.22.545-.206.22.014.235.177.471.22.236.045 1.385.177 2.313 1.444 0 0 .044.324.176.383.133.06.442.192.487.295.044.103.353 1.208.324 1.679-.03.471-.162 2.666-1.62 3.344l-.03.397s-1.09.973-2.755.855c-1.664-.118-2.112-.293-2.504-.825z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__warcraft {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--warcraft-iii' fill='none' fill-rule='evenodd'%3E%3Crect fill='%23000813' width='28' height='28' rx='4'/%3E%3Cpath fill='%23D43801' d='M23.124 23.147h.676v.653h-4.731v-.653h.676V4.853h-.676V4.2H23.8v.653h-.676v18.294zm-7.434 0h.676v.653h-4.732v-.653h.676V4.853h-.676V4.2h4.732v.653h-.676v18.294zm-7.435 0h.676v.653H4.2v-.653h.676V4.853H4.2V4.2h4.731v.653h-.676v18.294z'/%3E%3Cpath fill='%23F4BF2A' stroke-width='.5' d='M11.867 15.619l2.268-7.673 2.294 7.425a843.224 843.224 0 0 0 .505-2.442l.036-.179c.406-1.993.662-3.334.665-3.458a.968.968 0 0 0-.464-.679l-.76-.463h6.718l-.576.447c-.646.503-1.105 1.116-1.368 1.824-.404 1.362-1.983 8.788-1.984 9.213.043.435.219.84.524 1.206l.34.41H14.45l.085-.315a3.96 3.96 0 0 0 .138-1.03c0-.246-.109-.91-.293-1.836l-.065-.323a83.368 83.368 0 0 0-.15-.715c-.073.262-.145.524-.214.781l-.073.275c-.252.962-.404 1.648-.404 1.86 0 .323.088.646.257.923l.231.38H7.829l.752-.463c.104-.064.266-.179.426-.323.207-.186.342-.367.372-.506.005-.019.007-.036.007-.037-.039-.596-.492-2.334-1.23-4.819l-.174-.578a245.498 245.498 0 0 0-1.407-4.517c-.14-.552-.537-1.06-1.101-1.391l-.795-.466h6.037l-.067.304c-.095.43-.14.863-.142 1.3.067.615.287 1.667.62 3.025l.163.652a122.375 122.375 0 0 0 .577 2.188z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__fifa {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--fifa' fill='none' fill-rule='evenodd'%3E%3Crect fill='%23333333' width='28' height='28' rx='4'/%3E%3Cpath fill='%23979DA0' d='M13.627 24V16.028h5.32v-3.901h-5.32V8.97s.05-.994 1.089-.994H21V4h-8.016C11.994 4 9 4.92 9 8.002V24h4.627z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__underlords {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--dota-underlords'%3E%3Crect fill='%23191919' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M13.6472 22.4302L11.0323 19.6352L12.6303 18.0372L10.9792 19.5748L9.93408 18.4963L23.2554 6.125C23.0617 7.73654 23.3387 9.49044 23.145 11.102C23.145 11.2269 21.3466 14.2892 23.1014 11.4652C24.2985 12.8016 23.1828 13.4989 22.3431 14.2892C19.4929 16.9593 16.6369 19.6352 13.6472 22.4302Z'/%3E%3Cpath fill='%23ffffff' d='M14.7366 6.15692L16.7319 8.29518L15.0902 10.4847L16.7663 8.34724L18.2289 9.902L4.6897 22.2674C4.6897 19.8443 4.6897 17.8047 4.6897 15.7622C4.70324 15.4788 4.82002 15.2101 5.01801 15.0068C8.2314 12.0694 11.4448 9.1524 14.7366 6.15692Z'/%3E%3Cpath fill='%23ffffff' d='M4.90462 6.31097L9.1901 10.3321L5.5932 13.6355C4.67799 12.8075 4.36712 8.63821 4.90462 6.31097Z'/%3E%3Cpath fill='%23ffffff' d='M19.1035 18.2696L22.7411 14.9052C24.3972 17.3137 22.8137 19.9809 23.3018 22.2704L19.1035 18.2696Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__quake {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--quake-champions' fill='none' fill-rule='nonzero'%3E%3Crect fill='%230F1225' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M22.302 6.482A9.945 9.945 0 0 1 23 10.135c0 1.09-.18 2.089-.54 2.995a8.899 8.899 0 0 1-2.861 3.822 8.724 8.724 0 0 1-4.552 1.827v2.187c0 .085-.067.425-.202 1.02A53.43 53.43 0 0 0 14.1 26c-.75-3.144-1.164-4.814-1.239-5.013v-2.23c-1.637-.155-3.116-.75-4.438-1.783C6.141 15.19 5 12.91 5 10.135c0-1.16.203-2.293.608-3.397A8.277 8.277 0 0 1 7.32 3.913c.826-.92 1.758-1.557 2.794-1.912a8.772 8.772 0 0 0-2.726 2.315C6.412 5.59 5.924 7.042 5.924 8.67c0 .595.06 1.182.18 1.763.255 1.217.879 2.35 1.87 3.397 1.021 1.09 2.155 1.777 3.402 2.06.645.213 1.14.327 1.486.34v-2.21c0-.225-.007-.48-.022-.764-.105-.467-.39-.736-.856-.807a.157.157 0 0 0-.112-.042h4.077c.105 0 .15.014.135.042-.556.085-.879.354-.969.807a4.021 4.021 0 0 0-.067.786v2.188a44.66 44.66 0 0 0 1.577-.34c1.217-.297 2.328-.955 3.334-1.975 1.412-1.444 2.117-3.192 2.117-5.246a6.986 6.986 0 0 0-1.126-3.854C20.199 3.647 19.17 2.709 17.864 2c2.057.738 3.536 2.232 4.438 4.482z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__warface {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--warface' fill='none' fill-rule='nonzero'%3E%3Crect fill='%23000000' width='28' height='28' rx='4'/%3E%3Cpath fill='%23ffffff' d='M6 6c1.94 1.333 3.158 2 3.652 2v9.846h3.347c-3.652.84-5.985 1.865-6.999 3.077V6zm16 0v14.923c-1.014-1.212-3.347-2.237-7-3.077h3.348V8c.494 0 1.712-.667 3.652-2zm-9.914 5.385a12.438 12.438 0 0 0 3.804 0 7.876 7.876 0 0 0-.29 2.17c0 .77.097 1.533.29 2.291-1.116 1.744-1.75 3.795-1.902 6.154-.152-2.359-.786-4.41-1.902-6.154a9.355 9.355 0 0 0 .305-2.29c0-.725-.102-1.448-.305-2.171z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon__hots {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='icon-game--hots' fill='none' fill-rule='evenodd'%3E%3Crect fill='%23261A4F' width='28' height='28' fill-rule='nonzero' rx='4'/%3E%3Cpath fill='%23418AF2' d='M21.8 18.5L14 23.033 6.2 18.5v-9L14 4.967 21.8 9.5z'/%3E%3Cpath fill='%23ffffff' d='M14 4.133l-8.733 4.9v9.834L14 23.8l8.733-4.933V9.033z'/%3E%3Cpath fill='%2336AEEA' d='M6.9 13.2c.567-4.667 4.633-5.933 4.633-5.933C6.1 13.067 12.6 17.2 12.6 17.2l-4.4.967c.033 0-1.533-1.867-1.3-4.967z'/%3E%3Cpath fill='%2336AEEA' d='M16.8 20.6c-4.667 1.7-7.4-1.267-7.4-1.267 7.633 1.934 8.167-5.8 8.167-5.8L20.5 16.9s-.833 2.4-3.7 3.7z'/%3E%3Cpath fill='%2336AEEA' d='M20.967 15.3c-2.334-7.633-8.9-4-8.9-4l1.4-4.433s2.8-.367 5.333 1.8c3.1 2.7 2.167 6.633 2.167 6.633z'/%3E%3C/g%3E%3C/svg%3E");
}

.block__btn {
    border-radius: 4px;
    border: 1px solid #ff6f23;
    padding: 3px 12px;
    font-size: 12px;
    color: #ff6f23;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color .3s ease, color .3s ease;
    text-decoration: none;
}

.block__btn:hover {
    color: #fff;
    background-color: #ff6f23;
}

.b-match {
    background-color: white;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 7px 12px;
    transition: box-shadow 0.3s ease;
    position: relative;
    min-height: 63px;
    margin-bottom: 4px;
}

.b-match:hover {
    text-decoration: none;
}

.b-match__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 6px 0;
}

.b-match__header-right {
    display: flex;
    align-items: center;
}

.b-match__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.b-match-team {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.b-match-team__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
    margin-left: 8px;
}

.b-match-team__logo {
    width: 24px;
    height: 24px;
}

.d-flex {
    display: flex;
}

.b-collapse {

}

.b-collapse__title {
    background-color: rgba(255,255,255,.5);
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
    margin-bottom: 4px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.b-collapse__content {
    display: flex;
    flex-direction: column;
}

.b-collapse__content_hide {
    display: none;
}